@charset "utf8";

@media (max-width:970px) {
  
   
    .header{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }
    .header h1{
      font-size: 2rem;
    }
   
     ul{
        flex-direction: column;
        text-align: center;
       
    }
   
  
  
 }
@media (max-width:970px){
   
    .side-botton{
      
       flex-direction:column;
    }
   .conteiner-geral{
      justify-content: center;
       align-items: center;
      flex-direction: column-reverse;
   }
   .side-botton2{
      flex-direction: column;
   }

   .direita2 img{
      width: 111%;
      position: relative;
      left: 0%;
      
   }
   .exclusive{
      flex-direction: column-reverse;
   }
   .inner-imagm{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 15px;
          margin-bottom: 20px;
          width: 90%;
          height: 227px;
          background-color: #3d3d3d68;
      }
      
      
      .links-footer ul li{
         margin-bottom: 0.5rem;
         cursor: pointer;
         padding-bottom: 3px;
         padding-top: 3px;
       }
   }
   
   
  
 
@media(max-width:970px){
    .testemunhos{
       flex-direction: column;
    }
    .testemunho{
       margin-bottom: 1.2rem;
    }
  }
@media(max-width:1010px){
    .footer-content{
       display: inline;
       font-size: 0.8rem;
    }
    .footer-content>div{
       padding: 1rem;
    }
    .download-options div{
       display: inline;
    }
    .download-options div img{
       width: 120px;
    }
    .copyright{
       font-size: 0.8rem;
    }
  }