@charset "utf8";

@media (max-width:970px) {
  
   
    .header{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }
    #h1amaral{
      font-size: 35px;
    }
   
    header ul{
        flex-direction: column-reverse;
        text-align: center;
        
       
    }
    .conteiner-titular{
      flex-direction: column-reverse;
      background-color: #302f2f56;
    }
    .conteiner-titular ul li{
      background-color: #201e1e5a;
      flex-direction: column;
    }
    .img-menu{
      
      display: block;
      position: relative;
      left: -3%;
    }
   .navicon img{
      padding-bottom: 3px;
      padding-top: 3px;
   }
   header ul li a{
   
      text-decoration: none;
      color: #797979;
      font-size: 20px;
      display: block;
      padding: 10px 15px;
      position: relative;
  }
  header ul li a:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #1cd8d2;
      transform: scaleX(0);
      transform-origin: center;
      transition: all 0.5s;
  }
  header ul li a:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #1cd8d2;
      transform: scaleX(0);
      transform-origin: center;
      transition: all 0.5s;
  }
  header ul li a:hover{
      color: #1cd8d2;
  }
  header ul li a:hover:before,ul li a:hover{
      transform: scaleX(1);
  
  }
   .esquerda button{
      margin-bottom: 17px;


   }
   
  .menu02{
   display: block;
  }
  .conteiner{
   display: flex;
   justify-content: center;
  }
  .side-botton2{
    width: 400px;
  }
  
  
    header {
       
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #222;
    }
    h2, h1 {
        margin: 0;
    }
    .conteiner-titular {
        display: flex;
        align-items: center;
    }
    .menu02 {
        display: none;
        list-style: none;
        padding: 0;
        background: #333;
        position: absolute;
        top: 238px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .menu02.active {
      
        display: block;
    }
    .menu02 li {
        padding: 10px;
        border-bottom: 1px solid #444;
    }
    .menu02 li a {
        
        text-decoration: none;
        display: block;
    }
    .menu02 li:hover {
       
    }
    .navicon {
        cursor: pointer;
    }
    .navicon img {
        width: 40px;
    }
    .inner-Visao-geral h2{
      padding-left: 7%;
     }
    .inner-Visao-geral h4{
      padding-left: 7%;
     }
     .inner-Visao-geral p{
        padding-left: 10%;
     }
    
 }
@media (max-width:970px){

   .button2{
      display: none;
   }
   .button3{
      display: inline;
      width: 120px;
      margin-top: 8px;
      color: white;
      border: none;
      background-color: #3d3d3dc7;
      

   }
   .button3:hover{
      color: #000000;
      background-color: #1cd8d2;
      
   }
   
    .side-botton{
      
       flex-direction:column;
    }
   .conteiner-geral{
      justify-content: center;
       align-items: center;
      flex-direction: column;
   }
   .side-botton2{
      flex-direction: column;
   }

   .direita2 img{
      width: 111%;
      position: relative;
      left: 0%;
      
   }
   .exclusive{
      flex-direction: column-reverse;
   }
   .inner-imagm{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 15px;
          margin-bottom: 20px;
          width: 90%;
          height: 227px;
          background-color: #3d3d3d68;
      }
      
      
      .links-footer ul li{
         margin-bottom: 0.5rem;
         cursor: pointer;
         padding-bottom: 3px;
         padding-top: 3px;
       }
       
       .inner-Visao-geral{
         width: 99%;
       }
       .visao-geral02{
         padding: 10px 0px 10px 0px;
         width: 100%;

       }
       
       .prf{
         padding: 10px;
         text-align: left;
          
       }
       .direita2{
         width:100%;
       }
       .direita2 img{
         width: 91%;
         
       }


     .conteiner-comentario h2 {
       text-align: center;
       color: #ffffff;
       padding-bottom: 4%;
      }
      .page-inner-content h2 {
         color: #1cd8d2d2;
         padding-left: 20px;
         font-weight: bold;
         padding: 4%;
     }
   }
   
   
  
   



  
 
@media(max-width:970px){
    .cor-de-fundo{
      display: flex;
      justify-content: center;
      
    }
    .header-inner-conteiner{
      width: 100%;
    }
    .header-bottom-side-right img{
      width: 485px;
      
    }
    .testemunhos{
       flex-direction: column;
    }
    .testemunho{
       margin-bottom: 1.2rem;
    }
  }
@media(max-width:1010px){
    .footer-content{
       display: inline;
       font-size: 0.8rem;
    }
    .footer-content>div{
       padding: 1rem;
    }
    .download-options div{
       display: inline;
    }
    .download-options div img{
       width: 120px;
    }
    .copyright{
       font-size: 0.8rem;
    }
  }