@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --font-padrao:arial,verdana,helvetica,sans-serif;
    --font-destaque:"Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.about{
    position: relative;
    left: -6%;
    margin: auto;
    justify-content: center;
    padding: 20px;
    display: flex;
}
.about-me{
    text-align: center;
    max-width: 749px;
    background-color: rgba(66, 65, 65, 0.626);
    padding: 4px 10px 4px 10px;
  
}
.about-me h1{
    margin-bottom: 6px;
    font-family: "Dancing Script", "cursive";  

}


#paragrafo{
    line-height: 3px;
}
.paragrafo01{
    line-height: 25px;
   
   
}

.perfil{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius:50%;
    width: 90px;
    height: 90px;
    justify-content: center;
    overflow: hidden;
    
    
}
.perfil img{ 
    justify-content: center;
    border-radius:50%;
    width: 100%;
    height: 100%;
    transition: 1s all ease-in-out;
}
.perfil img:hover{
    transform: scale(1.5);
}
.perfil ul li{
    display: block;
}
.habilidades{
    padding-left: 20px;
    max-width: 749px;
}
.about2{
    justify-content: center;
    margin-bottom: 20px;
    
}
.conteiner-about{
    display: flex;
    justify-content: center;
    

}
.conteiner-resumo{
    padding: 10px;
    max-width: 500px;
   

}
.conteiner-resumo2{
    padding: 10px;
    max-width: 500px;
   
    background-color: rgba(66, 65, 65, 0.626);
}
.conteiner-imgcoff{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    

}
.imgcoff{
    padding: 20px;
    background-color: rgba(66, 65, 65, 0.626);
    justify-content: center;
    width: 48%;
    overflow: hidden;

}
.imgcoff img{
     width: 100%;
     height: 100%;
     transition: 1.7s all ease-in-out;
}
.imgcoff img:hover{
    transform: scale(1.2);

}

.conteiner01{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.inner-conteiner01 ul{
    flex-direction: column;
}
.inner-conteiner01{
    padding: 10px;
    max-width: 500px;
   
    background-color: rgba(66, 65, 65, 0.626);
  
    
}
.inner-full-stack{
    background-color: rgba(66, 65, 65, 0.626);
}
.inner-full-stack h2{
   text-align: center;
   padding: 10px;
  
   
}

.inner-conteiner02{
    max-width: 500px;
    padding: 10px;
    max-width: 500px;
   
    
}

.redes-sociais{

    width: 50%;
    height: 500px;

    background-color: rgb(142, 114, 114);
}
#telefone{
    justify-content: center;
    position: absolute;
    left: 38%;
    top: 216%;
    transform: translate(-50% ,-50%);

    height: 500px;
    width: 248px;
    
    background: url(../imagens/frame-iphone.png) no-repeat;
    
}
#tela{
    
    height: 106%;
  
}
#redessociais{
    display: flex;
    text-align: right;
    height: 100%;
    justify-content: center;
    
}
section img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.374);
    box-sizing: border-box;

}
#redessociais img:hover{
    border: 1px solid rgb(255, 255, 255);
    transform: translate(-3px,-3px);
    box-shadow:5px 5px 20px rgba(0, 0, 0, 0.591);
    transition:.2s, border,.1s;
}

.conteiner-about2{
    display: flex;
    justify-content: center;
}
.about2{
    width: 90%;
    height: 100%; 
}
.esperiencia{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
   
    height: 300px;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 65, 65, 0.626);
     
     
}
.idiomas{
    padding: 15px;
    width: 33.3333333333%;
    height: 100%;
    
    
}
.idiomas li{
    padding-bottom: 20%;
    padding-top: 5%;

}
.cursos{
    padding: 15px;
    width: 33.3333333333%;
    
    
}
.cursos li{
    padding-bottom: 1%;
    padding-top: 0%;

}

.hobbies{
    padding: 15px;
    width: 33.3333333333%;
    
    
    
}
.hobbies li{
    padding-bottom: 2%;
    padding-top: 3%;


}
.conteiner-geral{
    margin-bottom: 2%;
}