@charset "utf8";

.conteiner-script-curiosidade{
    padding: 10px;
    text-align: center
}


.inner-script-curiosidade{
    padding: 20px;
    background-color: #4d4b4b63;
   

}
.container{
    color: white;
    text-align: center;
}